@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind utilities;
@tailwind components;

/* Custom scrollbar for Chrome, Safari and Opera */
.w-md-editor-input::-webkit-scrollbar,
#previewText::-webkit-scrollbar {
  width: 10px;
}

.w-md-editor-input::-webkit-scrollbar-thumb,
#previewText::-webkit-scrollbar-thumb {
  background: #888;
}

.w-md-editor-input::-webkit-scrollbar-thumb:hover,
#previewText::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Custom scrollbar for IE, Edge and Firefox */
.w-md-editor-input {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.w-md-editor-input::webkit-resizer {
  display: none;
}

.w-md-editor-toolbar {
  @apply bg-editor;
}

.w-md-editor-input {
  @apply bg-editor flex-grow;
}

@layer base {
  body {
    @apply bg-editor text-white overflow-y-hidden;
  }

  body,
  html {
    @apply w-screen h-screen box-border;
  }
}

@layer components {
  #previewText h1,
  #previewText h2,
  #previewText h3,
  #previewText h4,
  #previewText h5,
  #previewText h6,
  #previewText ol,
  #previewText ul,
  #previewText p,
  #previewText blockquote,
  #previewText pre {
    @apply mb-4;
  }

  #previewText h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-white;
  }
  #previewText h1,
  #previewText h2,
  #previewText h3 {
    @apply border-b border-offwhite;
  }

  #previewText h1 {
    @apply text-[32px];
  }
  #previewText h2 {
    @apply text-[28px];
  }
  #previewText h3 {
    @apply text-[24px];
  }
  #previewText h4 {
    @apply text-[20px];
  }
  #previewText h5 {
    @apply text-[16px];
  }
  #previewText h6 {
    @apply text-[14px] text-primary;
  }

  #previewText ol {
    @apply list-decimal pl-4;
  }
  #previewText ul {
    @apply list-disc pl-4 marker:text-primary marker:text-sm;
  }

  #previewText blockquote {
    @apply bg-gray text-white font-bold rounded-md p-4 border-l-4 border-primary;
  }

  #previewText blockquote > p {
    @apply mb-0;
  }

  #previewText a {
    @apply underline cursor-pointer;
  }

  #previewText code {
    @apply text-white;
  }

  #previewText pre {
    @apply bg-gray rounded-md p-4 whitespace-pre-wrap;
  }

  #previewText table {
    @apply table-auto;
  }
  #previewText table th,
  #previewText table td {
    @apply border border-text px-3 py-2;
  }
}
